/* Variables de colores */
:root {
    --color-primary: #735f32; /* Marrón */
    --color-secondary: #c69749; /* Dorado */
    --color-accent: #282a3a; /* Gris oscuro */
    --color-background: #18120b; /* Negro vintage */
    --color-text: #f5ecd7; /* Beige claro */
    --vintage-border: #c69749; /* Dorado para bordes vintage */
    --vintage-shadow: rgba(60, 40, 10, 0.5); /* Sombra marrón suave */
}

/* Importar fuente personalizada */
@font-face {
    font-family: 'Title';
    src: url("./fonts/Firlest-Regular.otf");
}

html {
    scroll-behavior: smooth;
}

/* Reset básico */
body {
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to left, #735f32, #18120b); /* Fondo degradado vintage */
    color: var(--color-text);
    overflow-x: hidden;
}

/* Navbar */
.navbar {
    border-bottom: 4px solid var(--color-secondary); /* Borde dorado */
    box-shadow: 0 4px 10px var(--vintage-shadow); /* Sombra más intensa */
}

.nav-link {
    color: var(--color-text) !important; /* Beige claro */
    font-weight: bold;
    font-size: 1.1em;
    position: relative;
    padding: 5px 0;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    font-family: 'Courier New', Courier, monospace; /* Fuente retro */
    text-transform: uppercase; /* Estilo vintage */
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--color-secondary); /* Dorado */
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after {
    width: 100%;
}

.logo-vibrate {
    animation: zoom-vibrate 1s linear infinite;
}

@keyframes zoom-vibrate {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}


/* Contenido principal */
.main {
    position: relative;
    z-index: 10;
    color: var(--color-text);
    background: url('./images/vinilo.jpg') center fixed no-repeat, 
                linear-gradient(90deg, var(--header-gradient-start) 0%, var(--header-gradient-middle) 50%, var(--header-gradient-end) 100%);
    background-blend-mode: overlay;
    padding: 20px;
    box-shadow: 0 0 20px var(--vintage-shadow); /* Sombra suave */
}

.main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Overlay oscuro */
    z-index: -1; /* Place behind the content */
}

/* Efecto "Draw" para el título */
.main__heading {
    font-family: 'Title', sans-serif;
    color: var(--color-secondary); /* Dorado */
    margin-bottom: 20px;
    font-size: 6em;
    text-shadow: 2px 2px var(--color-primary), 4px 4px var(--color-background); /* Sombra retro */
    margin-top: 120px;
    
}

.main__subheading {
    font-family: 'Courier New', Courier, monospace; /* Fuente retro */
    color: var(--color-secondary); /* Dorado */
    font-size: 3.7em;
    margin-bottom: 20px;
    line-height: 1.3;
    letter-spacing: 0.8px;
    text-transform: uppercase; /* Estilo vintage */
}

.main__description {
    font-size: 2.5em;
    font-family: 'Title', sans-serif;
    line-height: 1.6;
    color: var(--color-primary); /* Marrón */
}

.main__text {
    font-size: 1.7em;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
}

/* Reproductor */
.player-container {
    max-width: 150px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player__controls {
    display: flex;
    gap: 40px; /* Mayor separación entre íconos */
}

.player__button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: transform 0.3s ease;
    outline: none;
    color: #0a0a0a;
}

.player__button:hover {
    transform: scale(1.1);
}

.player__icon {
    font-size: 4rem;
    color: var(--color-secondary); /* Dorado */
    transition: color 0.3s ease;
}

.player__icon:hover {
    color: var(--color-primary); /* Marrón */
}

.player__button:focus .player__icon {
    color: var(--color-secondary); /* Dorado */
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

/* Noticias */
.main__noticias-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main__noticia-item {
    background-color: rgba(115, 95, 50, 0.3); /* Marrón translúcido */
    padding: 20px;
    border-left: 6px solid var(--color-secondary); /* Borde dorado */
    transition: transform 0.3s ease, border 0.3s ease;
    text-decoration: none;
    color: var(--color-text);
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    flex-direction: column;
    text-align: center;
    border: 3px dashed var(--color-secondary); /* Borde dorado retro */
}

.main__noticia-item:hover {
    border: 3px dashed var(--color-primary); /* Borde marrón retro */
}

.main__noticia-imagen {
    width: 100%;
    height: 200px; /* Aumenta la altura para asegurar que la imagen sea visible */
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-bottom: 10px;
}

.main__noticia-contenido {
    flex: 1;
}

.main__noticia-titulo {
    display: -webkit-box;
    line-clamp: inherit;
    -webkit-line-clamp: 2; /* Limita a 2 líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1.8em;
    color: var(--color-secondary); /* Dorado */
    font-family: 'Courier New', Courier, monospace; /* Fuente retro */
}

.main__noticia-descripcion {
    display: -webkit-box;
    line-clamp: inherit;
    -webkit-line-clamp: 3; /* Limita a 3 líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1.3em;
    color: var(--color-text); /* Beige claro */
}

/* Contacto */
.main__contacto-link {
    color: var(--color-secondary);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
}

.main__contacto-icon {
    font-size: 1.5em;
    color: var(--color-primary); /* Marrón */
    transition: color 0.3s ease;
}

.main__contacto-item:hover .main__contacto-icon {
    color: var(--color-secondary); /* Dorado */
}

/* Footer */
.footer {
    border-top: 4px solid var(--color-primary); /* Borde marrón */
    font-family: 'Courier New', Courier, monospace; /* Fuente retro */
}