name: Daily News Fetch

on:
  schedule:
    - cron: "0 6 * * *" #  todos los días a las 6:00 AM UTC
  workflow_dispatch: # Permite ejecución manual

permissions:
  contents: write # hacer commit

jobs:
  update-news:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "yarn"

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Run script to fetch news
        run: yarn build:news

      - name: Commit and push changes
        id: commit_changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add news.json
          git diff --quiet && git diff --staged --quiet || (git commit -m "chore: update daily news automatically" && git push)
